* {
  font-family : 'Century Gothic',
                sans-serif;
  margin      : 0;
  padding     : 0;
}

h1 {
  font-weight : normal;
  margin-top  : 30px;
}

h2 {
  font-size   : 2.1em;
  font-weight : normal;
  line-height : 1.4em;
}

h3 {
  font-weight : normal;
}

.content_underline {
  background-color : #0b9ebf;
  border-radius    : 10px;
  box-shadow       : 2px 2px 2px -.2px grey;
  height           : 3px;
  margin-top       : 20px;
  width            : 200px;
}





.header {
  background-color : #efefef;
  height           : 40px;
  text-align       : center;
  width            : 100%;
}

.header p {
  color       : #898989;
  float       : left;
  margin-left : 1.5%;
  margin-top  : 2.7%;
}

.header .header_info {
  display   : inline-block;
  font-size : .8em;
  height    : 40px;
  margin    : auto;
  width     : 400px;
}

.header .header_info:last-of-type {
  max-width : 300px;
  min-width : 164px;
  width     : 22%;
}

.header .header_info:first-of-type img {
  float       : left;
  height      : 20px;
  margin-left : 10%;
  margin-top  : 2.25%;
  width       : auto;
}

.header .header_info:nth-of-type(2) img {
  float       : left;
  height      : 20px;
  margin-left : 10%;
  margin-top  : 2.25%;
  width       : auto;
}

.header .header_info:last-of-type img {
  cursor     : pointer;
  float      : right;
  height     : 18px;
  margin     : 7px;
  margin-top : 10.2px;
  opacity    : .8;
  transition : all .5s ease-in-out;
  width      : auto;
}

.header .header_info:last-of-type img:hover {
  opacity : 1;
}

.navigation {
  height     : 110px;
  text-align : center;
  width      : 100%;
}

.navigation_info {
  display        : inline-block;
  height         : 110px;
  margin         : auto;
  vertical-align : top;
}







.navigation_info:first-of-type {
  text-align : center;
  width      : 360px;
}

.navigation_info:first-of-type a {
  color           : inherit;
  text-decoration : none;
}

.navigation_info:first-of-type h1:first-letter {
  color : #0b9ebf;
}

.navigation_info:first-of-type span {
  color : #0b9ebf;
}

.navigation_info:nth-of-type(2) {
  width : 540px;
}

.navigation_info:nth-of-type(2) ul {
  list-style : none;
}

.navigation_info:nth-of-type(2) ul li {
  cursor         : pointer;
  display        : inline-block;
  letter-spacing : 1.2px;
  margin         : 20px;
  margin-top     : 45px;
  transition     : all .2s ease-in-out;
}

.navigation_info:nth-of-type(2) ul li:hover {
  color : #0b9ebf;
}

.navigation_info:last-of-type {
  max-width : 300px;
  min-width : 206px;
  width     : 19%;
}

.navigation_info:last-of-type span {
  border         : solid 3px #0b9ebf;
  cursor         : pointer;
  display        : block;
  float          : right;
  font-weight    : bold;
  margin-top     : 16px;
  padding-bottom : 18px;
  padding-top    : 18px;
  text-transform : uppercase;
  transition     : all .3s ease-in-out;
  width          : 200px;
}

.navigation_info:last-of-type span:hover {
  background-color : #0b9ebf;
  color            : white;
}







.photoreelBox {
  max-height : 80vw;
  width      : 100%;
}

.rslides {
  list-style : none;
  margin     : 0;
  overflow   : hidden;
  padding    : 0;
  position   : relative;
  width      : 100%;
}

.rslides li {}

.rslides li:first-child {
  display  : block;
  float    : left;
  position : relative;
}

.rslides img {
  border  : 0;
  display : block;
  float   : left;
  height  : auto;
  width   : 100%;
}







.contentBox {
  height   : 500px;
  position : relative;
  width    : 100%;
}

.contentBox p {
  color       : #686867;
  line-height : 1.5em;
}

.contentBox .content_div:first-of-type {
  height     : 100px;
  margin     : auto;
  margin-top : 60px;
  width      : 1200px;
}

.contentBox .content_div:last-of-type {
  height     : 170px;
  margin     : auto;
  margin-top : 50px;
  text-align : left;
  width      : 1200px;
}

.contentBox .content_div .content_article {
  float  : left;
  height : auto;
  width  : 700px;
}

.contentBox img {
  height   : auto;
  position : absolute;
  right    : 1px;
  top      : 130px;
  width    : 400px;
}






.skillsBox {
  font-size  : 0;
  height     : 350px;
  text-align : center;
  width      : 100%;
}

.skillsBox .skill_div {
  background-color : white;
  border-left      : .2px solid #dddddd;
  border-right     : .2px solid #dddddd;
  display          : inline-block;
  height           : 100%;
  transition       : all .4s ease-in-out;
  vertical-align   : top;
  width            : 24.85%;
}

.skillsBox .skill_div:first-of-type {
  border-left : none;
}

.skillsBox .skill_div:last-of-type {
  border-right : none;
}

.skillsBox .skill_div:hover {
  background-color : #0b9ebf;
  cursor           : pointer;
}

.skillsBox .skill_div:hover .skill_article .skill_text {
  color : white;
}

.skillsBox .skill_div:hover .skill_title {
  color : white;
}

.skillsBox .skill_div .skill_img {
  height     : 40%;
  text-align : center;
  width      : 100%;
}

.skillsBox .skill_div .skill_img img {
  height     : 60%;
  margin-top : 6.6%;
  width      : auto;
}

.skillsBox .skill_div .skill_title {
  color      : #0b9ebf;
  font-size  : 25px;
  height     : 18%;
  text-align : center;
  transition : all .1s ease-in-out;
  width      : 100%;
}

.skillsBox .skill_div .skill_article {
  height : 42%;
  width  : 100%;
}

.skillsBox .skill_div .skill_article .skill_text {
  color      : #686867;
  font-size  : 17px;
  margin     : auto;
  transition : all .1s ease-in-out;
  width      : 70%;
}









.testimonialsBox {
  background-color : #f4f4f4;
  height           : 690px;
  overflow         : hidden;
  width            : 100%;
}

.testimonialsBox .testimonials_div:first-of-type {
  height     : 100px;
  margin     : auto;
  margin-top : 60px;
  width      : 1200px;
}

.testimonialsBox .testimonials_div:nth-of-type(2) {
  height     : 295px;
  margin     : auto;
  margin-top : 50px;
  text-align : center;
  width      : 1200px;
}

.testimonialsBox .testimonials_div:nth-of-type(2) .testimonials_chat {
  background-color:#0b9ebf;
  color:white;
  margin-left:14px;
  margin-right:14px;
  border-radius:5px;
  display             : inline-block;
  height              : 275px;
  width               : 369px;
  position:relative;
}

.testimonialsBox .testimonials_div:nth-of-type(2) .testimonials_chat img {
  height: 40px;
  top:37px;
  width:auto;
  position:absolute;
  left:24px;
}

.testimonialsBox .testimonials_div:nth-of-type(2) .testimonials_chat .testimonials_article {
  height:80%;
  width:70%;
  text-align:left;
  position:absolute;
  right:30px;
  top:36px;
  line-height:1.8em;
  font-size:.97em;
}

.testimonialsBox .testimonials_div:nth-of-type(2) .testimonials_chat .testimonials_triangle {
  width: 0;
  height: 0;
  border-top:20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left:40px solid #0b9ebf;
  position:absolute;
  bottom:-18px;
  margin-left:25px;
  border-radius:2px;
}

.testimonialsBox .testimonials_div:last-of-type {
  height:100px;
  width:1200px;
  margin:auto;
}

.testimonialsBox .testimonials_div:last-of-type .testimonials_person {
  width:20%;
  height:50%;
  display:inline-block;
  text-align:left;
  margin-top:15px;
    margin-left:15px;
}

.testimonialsBox .testimonials_div:last-of-type .testimonials_person p {
 color:#686867;
 font-size:.92em;
}

.testimonialsBox .testimonials_div:last-of-type .testimonials_person:not(:first-of-type){

margin-left:158px;
}






.aboutBox {
  background-color : #0b9ebf;
  height           : 900px;
  width            : 100%;

  overflow:auto;
}

.aboutBox .about_info {


  height:300px;
  width:400px;
  background-color:blueviolet;

  margin-left:100px;

}

.aboutBox .about_info:first-of-type {

  margin-top:140px;
}

.aboutBox .about_info span {
  text-align:center;
  border         : solid 3px white;
  background-color:#0b9ebf;
  cursor         : pointer;
  display        : block;
  float          : right;
  font-weight    : bold;
  margin-top     : 16px;
  padding-bottom : 18px;
  padding-top    : 18px;
  text-transform : uppercase;
  transition     : all .3s ease-in-out;
  width          : 200px;
}

.aboutBox .about_info span:hover {
  background-color : white;
  color            : #0b9ebf;
}



.footer {
  background-color : #f4f4f4;
  height           : 110px;
  width            : 100%;
}
