* {
  font-family : 'Century Gothic',
                sans-serif;
  margin      : 0;
  padding     : 0;
}

.header {
  height:40px;
  text-align:center;
  width:100%;
  background-color:#efefef;
}

.header p{
  color:#898989;
  float:left;
  margin-left:1.5%;
  margin-top:2.7%;
}

.header .header_info{
  display:inline-block;
  font-size:.8em;
  height:40px;
  margin:auto;
  width:400px;
}

.header .header_info:last-of-type {
    max-width:300px;
    min-width:164px;
    width:22%;
}

.header .header_info:first-of-type img{
  float:left;
  height:20px;
  margin-left:10%;
  margin-top:2.25%;
  width:auto;
}

.header .header_info:nth-of-type(2) img{
  float:left;
  height:20px;
  margin-left:10%;
  margin-top:2.25%;
  width:auto;
}

.header .header_info:last-of-type img{
  cursor:pointer;
  float:right;
  height:18px;
  margin:7px;
  margin-top:10.2px;
  opacity:.8;
  transition: opacity .5s ease-in-out;
  width:auto;
}

.header .header_info:last-of-type img:hover {
  opacity:1;
}



















.navigation {
  height:110px;
  text-align:center;
  width:100%;


}

.navigation_info{
  display:inline-block;
  height:110px;
  margin:auto;
  vertical-align:top;

}

.navigation_info:first-of-type{
text-align:center;
  width:360px;
}


.navigation_info:first-of-type h1 {
  margin-top:30px;
  font-weight:normal;
}

.navigation_info:first-of-type h1:first-letter {
  color:#0b9ebf;

}

.navigation_info:first-of-type span {
  color:#0b9ebf;

}

.navigation_info:nth-of-type(2){
    width:540px;
}

.navigation_info:nth-of-type(2) ul{

    list-style:none;
}

.navigation_info:nth-of-type(2) ul li{

    display:inline-block;
    margin:20px;
    margin-top:45px;
    transition: color .2s ease-in-out;
    letter-spacing: 1.2px;
    cursor:pointer;
}

.navigation_info:nth-of-type(2) ul li:hover {

  color:#0b9ebf;
}


.navigation_info:last-of-type{

  max-width:300px;
  min-width:206px;
  width:19%;

}

.navigation_info:last-of-type span{
    display:block;
    float:right;
    margin-top:16px;
    border: solid 3px #0b9ebf;
    width:200px;
    padding-top:18px;
    padding-bottom:18px;
    text-transform: uppercase;
    font-weight: bold;
    transition: color .2s ease-in-out;
    cursor:pointer;
}

.navigation_info:last-of-type span:hover {
  color: #0b9ebf;
}














.photoreelBox {
  background-color:green;
  height:500px;
  width:100%;

}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }




























.contentBox {
  background-color:purple;
  height:500px;
  width:100%;
}

.skillsBox {
  background-color:coral;
  height:350px;
  width:100%;

}

.testimonialsBox {
    background-color:teal;
    height:500px;
    width:100%;
}

.aboutBox {
  background-color:pink;
  height:550px;
  width:100%;
}

.footer {
  background-color:grey;
  height:110px;
  width:100%;
}
